{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <img src="{{ track.pictureLink }}" class="card-img-top" alt="{{ track.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ track.name }}</h5>
        </div>
    </div>
{% endblock %}
