body {
    background :linear-gradient(135deg, #1DB954, #191414);
    color: white;
}

.card{
    border-radius: 15px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .overlay {
    opacity: 1;
}

.btn-spotify {
    background-color: #1DB954;
    color: white;
    border: none;
}

.btn-spotify:hover {
    background-color: #17a74a;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

